extend layout.pug

block content
    h1 Books
    p
        a(class="button" href="books/new") Create New Book
    table
        thead
            tr
                th Title
                th Author
                th Genre
                th Year

        tbody
            each book in books
                tr
                    td
                        a(href=`books/${book.id}`)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year
    div(class="pagination")
        ul
            if (currentPage > 1)
                li
                    a(href=`/books?page=${page = currentPage - 1}`) Prev
            - for (let index = 0; index <= totalPages; index++)
                li
                    if (index === currentPage - 1)
                        a(href=`/books?page=${index + 1}` class="active")= index + 1
                    else
                        a(href=`/books?page=${index + 1}`)= index + 1
            if (currentPage <= Math.round(totalPages))
                li
                    a(href=`/books?page=${page = currentPage + 1}`) Next